
    <img src="metacpan.png" width=191 height=43>
    <form action="https://metacpan.org/search">
        <input type="text" name="q" size="41" autofocus="autofocus" id="search-input" class="autofocus">
    </form>

    <br>

    <img src="http://st.pimg.net/tucs/img/cpan_banner.png" height=43>
    <form method="get" action="http://search.cpan.org/search" name="f" class="searchbox">
    <input type="text" name="query" value="" size="35">
    <br>in <select name="mode">
     <option value="all">All</option>
     <option value="module" >Modules</option>
     <option value="dist" >Distributions</option>
     <option value="author" >Authors</option>
    </select>&nbsp;<input type="submit" value="CPAN Search">
    </form>

